html{
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*,
*::before,
*::after{
    box-sizing: inherit;
}

html,
body {
    height: 100%;
    position: relative;
    overflow-x: hidden;
}

body{
    font-family: "Arial";
    font-size: 16px;    
    line-height: 22px;
    color: #3b736a;
    display: flex;
    flex-direction: column;
}

.content{
    flex: 1 0 auto;
}
.footer{
    flex-shrink: 0;
}

a{
    display: inline-block;
    text-decoration: none;
}

ul,
li{
    margin: 0;
    padding: 0;
    list-style: none;
}

.container{
    max-width: 1150px;
    margin: 0 auto;
}

.breadcrumbs{
    &__inner{
        padding: 0px 0px;
    }
    &__list{
        li{
            display: inline-block;
            position: relative;
            a{
                font-size: 14px;
                color: #d1d1d1;
            }
            & + li{
                padding-left: 24px;
                &::before{
                    content: '\f105';
                    font-family: 'icomoon';
                    font-size: 14px;
                    position: absolute;
                    color: #3b736a;
                    left: 8px;
                }
            }
            &:last-child{
                a, 
                span{
                    color: #3b736a;
                }
            }
        }
        a{
            color: #b0bec5;
        }
    }
}

input{
    outline: none;
}

textarea{
    outline: none;
}